* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0;
}
.flex-container {
  display: flex;
  flex-wrap:  wrap;
}
.propagandas {
  width: 100%;
  margin: 0;
  padding: 0;
}
.titulo-prop {
  font-size: 2.5rem;
  font-weight: bold;
}
.subtitulo-prop {
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
}
.icones {
  width: 10%;
}
@media screen and (max-width: 768px) {
  .icones {
    width: 25%;
  }
}
