<section>
  <h1>Telefone</h1>
  <p *ngFor="let telefone of telefones">{{ telefone }}</p>
</section>

<section>
  <h2>Horário de Atendimento</h2>
  <h3>{{ atendimento.diaDaSemana }}</h3>
  <p>{{ atendimento.horario }}</p>
</section>

<footer>
  <section>
    <h2>
      {{ endereco.rua }} numero {{ endereco.numero }}, bairro
      {{ endereco.bairro }}, estado {{ endereco.estado }}, CEP:
      {{ endereco.cep }}
    </h2>
    <a
      *ngFor="let icone of redesSociais.links;
      let i = index"
      href="{{ redesSociais.links[i] }}"
      target="_blank"
    >
      <img src="{{ redesSociais.icones[i] }}" alt="redes-sociais" width="10%"/>
    </a>
  </section>

  <section>
    <h2>{{ rodape.titulo }}</h2>
    <p>{{ rodape.subtitulo }}</p>
    <input type="email" [(ngModel)]="email" id="email"/>
    <button (click)="novoCadastroEmailCliente()" mat-button color="primary">
      {{ rodape.btnTxt }}
    </button>
  </section>

  <section *ngIf="enviado === true">
    <p>{{ rodape.sucesso }}</p>
  </section>
  <hr/>
</footer>
