<section fxLayout="row" class="slideshow-container">
  <!--Avisos-->
  <section *ngIf="aviso.ativo === true">
    <p>{{ aviso.mensagem }}</p>
  </section>

  <!--imagem principal-->
  <div *ngFor="let post of poster.titulo; let i = index" class="mySlides fade">
    <h1 class="numbertext">{{ poster.titulo[i] }}</h1>
    <img src="{{ poster.imagem[i] }}" width="100%" />
    <h2 class="text">{{ poster.descricao[i] }}</h2>
  </div>
</section>
<hr />
<!--propaganda-->
<section *ngFor="let prop of propaganda.titulo; let i = index">
  <img src="{{ propaganda.imagem[i] }}" alt="propaganda-imagem" width="50%" />
  <h3>{{ propaganda.titulo[i] }}</h3>
  <p>{{ propaganda.descricao[i] }}</p>
</section>
