<section>
  <!--imagem principal-->
  <carousel>
    <slide
      *ngFor="let imagem of poster.imagem; let i = index; trackBy: trackByIndex"
    >
      <img src="{{ imagem }}" alt="first slide" class="imgSlide" />
      <div class="carousel-caption d-none d-md-block">
        <h3 class="caption">{{ poster.titulo[i] }}</h3>
        <p class="text">{{ poster.descricao[i] }}</p>
      </div>
    </slide>
  </carousel>
</section>

<hr />

<!--propagandas-->
<section
  *ngFor="let prop of propaganda.titulo; let i = index"
  class="flex-container"
>
  <div class="propagandas">
    <img
    src="{{ propaganda.imagem[i] }}"
    alt="propaganda-imagem"
    width="90%"
    />
  </div>
  <div class="propagandas">
    <h3 class="titulo-prop">{{ propaganda.titulo[i] }}</h3>
    <p class="subtitulo-prop">{{ propaganda.descricao[i] }}</p>
  </div>
  <div class="propagandas">
  </div>
  <hr />
</section>
