<!--Formulario da pagina-->
<section class="flex-container">
  <h1>{{ formulario.titulo }}</h1>
  <h2>{{ formulario.descricao }}</h2>

  <br />

  <article>
    <input
      type="text"
      placeholder="Nome *obrigatório"
      [(ngModel)]="formularioCliente.nome"
      class="inputs"
      required
    />
    <input
      type="email"
      placeholder="Email *obrigatório"
      [(ngModel)]="formularioCliente.email"
      (blur)="validarEmail(formularioCliente.email)"
      class="inputs"
      required
    />

    <alert *ngIf="emailValidoMessage" [type]="emailValido ? 'success' : 'danger'">
      <strong>email {{ emailValido ? 'valido' : 'invalido'}}</strong> {{ emailValido ? 'Tudo ok' : 'Digite um email valido'}}
    </alert>

    <input
      *ngFor="
        let telefone of formularioCliente.telefoneFixo;
        let i = index;
        trackBy: trackByIndex
      "
      type="tel"
      placeholder="Telefone Fixo"
      [(ngModel)]="formularioCliente.telefoneFixo[i]"
      class="inputs"
    />
    <button (click)="adicionaMaisTelefoneFixo()" class="btn btn-secondary">
      Incluir outro telefone fixo
    </button>
    <input
      *ngFor="
        let numero of formularioCliente.celular;
        let i = index;
        trackBy: trackByIndex
      "
      type="tel"
      placeholder="Celular - Preferência Whatsapp"
      [(ngModel)]="formularioCliente.celular[i]"
      class="inputs"
    />
    <button (click)="adicionaMaisCelular()" class="btn btn-secondary">
      Incluir outro celular
    </button>

    <hr />

    <div *ngIf="!tipoPessoa.estado">
      <p>Pessoa Fisica</p>
      <input
        type="number"
        placeholder="CPF"
        [(ngModel)]="formularioCliente.tipoPessoa.numero"
        class="inputs"
      />
    </div>

    <div *ngIf="tipoPessoa.estado">
      <p>Pessoa Jurídica</p>
      <input
        type="number"
        placeholder="CNPJ"
        [(ngModel)]="formularioCliente.tipoPessoa.numero"
        class="inputs"
      />
    </div>
    <button (click)="mudaTipoPessoa()" class="botoes btn btn-secondary">
      Trocar para {{ tipoPessoa.tipo }}
    </button>

    <hr />

    <h2>Escolha o segmento</h2>
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-secondary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Segmento
        <span class="caret"></span>
      </button>

      <div>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li *ngFor="let escolha of segmento" role="menuitem">
            <hr class="divider dropdown-divider" />
            <a
              class="dropdown-item"
              (click)="escolhaSegmento(escolha)"
              style="cursor: pointer"
              >{{ escolha }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <br/>
    segmento escolhido: {{ formularioCliente.segmento }}

    <hr />

    <h2>{{ formulario.servicos.titulo }}</h2>
    <div class="rowEscolhaServico">
      <div
        *ngFor="
          let titulo of formulario.servicos.tiposDeServicos;
          let i = index,
          trackBy: trackByIndex
        "
        class="columnEscolhaServico"
      >
        <img
          (click)="escolhaTipoServico(titulo, i)"
          src="{{ formulario.servicos.imagens[i] }}"
          [ngStyle]="{
            'width': '100%',
            'border-color': servicoEscolhido[i] ? 'blue' : '#6c757d'
          }"
        />
        <h4>{{ formulario.servicos.tiposDeServicos[i] }}</h4>
      </div>
    </div>

    <br />

    <article class="rowDetalhamentoTecnico">
      <h2>Detalhamento técnico da estampa</h2>

      <div class="columnDetalhamentoTecnico">
        <p>Largura (Metros)</p>
        <input
          type="number"
          [(ngModel)]="formularioCliente.detalhamento.largura"
        />
      </div>

      <div class="columnDetalhamentoTecnico">
        <p>Altura (Metros)</p>
        <input
          type="number"
          [(ngModel)]="formularioCliente.detalhamento.altura"
        />
      </div>

      <div class="columnDetalhamentoTecnico">
        <p>Pedido minimo</p>
        <input
          type="number"
          min="300"
          [(ngModel)]="formularioCliente.detalhamento.quantidade"
        />
      </div>

      <div class="columnDetalhamentoTecnico">
        <p>Escolha a Cor</p>
        <input
          type="color"
          value="000000"
          [(ngModel)]="formularioCliente.detalhamento.cor"
        />
      </div>

      <p>Observações</p>
      <textarea
        placeholder="Insira aqui qualquer detalhe pertinente ao pedido"
        [(ngModel)]="formularioCliente.detalhamento.mensagem"
      ></textarea>

      <div class="rowenvioArquivo">
        <p>Anexar refêrencia da estampa</p>
        <div class="columnenvioArquivo">
          <label for="selecao-arquivo">Selecionar um arquivo &#187;</label>
          <input
            id="selecao-arquivo"
            type="file"
            [(ngModel)]="formularioCliente.detalhamento.anexo"
          />
          <br />
          Anexo: {{ formularioCliente.detalhamento.anexo }}
        </div>
      </div>
    </article>

    <hr />

    <button (click)="enviaFormulario(mensagemModal)" class="btn btn-secondary">
      Enviar pedido de orçamento
    </button>
  </article>
</section>

<ng-template #mensagemModal style="margin-bottom: 0;">
    <alert type="success">
    <div class="modal-header">
      <h4 class="modal-title pull-center">{{ mensagemDeSucesso.titulo }}</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ mensagemDeSucesso.subtitulo }}</p>
    </div>
  </alert>
  </ng-template>
