* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0;
}
/*comeco slide*/
.caption {
  color: #f2f2f2;
  background-color: rgba(3, 3, 3, 0.6);
  font-size: 3rem;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
}
.text {
  color: #f2f2f2;
  background-color: rgba(3, 3, 3, 0.3);
  font-size: 1.5rem;
  margin: 0;
  padding: 0 12px 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.imgSlide {
  display: block;
  width: 100%;
  height: 400px;
}
/*Diminui os textos no mobile*/
@media only screen and (max-width: 768px) {
  .imgSlide {
    height: 180px;
  }
  .caption,
  .text {
    display: block;
    font-size: 1rem;
  }
}
/*fim slide*/

/*comeco corpo home*/
.flex-container {
  display: flex;
  flex-wrap:  wrap;
}
.propagandas {
  width: 50%
}
.titulo {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.subtitulo {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.titulo-prop {
  font-size: 2.5rem;
  font-weight: bold;
}
.subtitulo-prop {
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
}
.listas_flex {
  list-style: none;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .propagandas {
    width: 100%
  }
  .subtitulo-prop {
    width: 100%;
  }
}
/*final corpo home*/
