<section>
  <carousel>
    <slide
      *ngFor="
        let imagem of slides.imagens;
        let i = index;
        trackBy: trackByIndex
      "
    >
      <img src="{{ imagem }}" alt="first slide" class="imgSlide" />
      <div class="carousel-caption d-none d-md-block">
        <h3 class="caption">{{ slides.titulo[i] }}</h3>
        <p class="text">{{ slides.subtitulo[i] }}</p>
      </div>
    </slide>
  </carousel>

  <!--area propaganda-->
  <section class="flex-container">
    <h1 class="titulo">{{ titulo }}</h1>
    <h2 class="subtitulo">{{ subtitulo }}</h2>
    <article class="propagandas">
      <div>
        <img
          src="{{ propaganda01.imagem }}"
          alt="{{ propaganda01.titulo }}"
          width="90%"
        />
        <h3 class="titulo-prop">{{ propaganda01.titulo }}</h3>
        <p class="subtitulo-prop">{{ propaganda01.descricao }}</p>
        <article>
          <h3 class="titulo-prop">{{ propaganda01.subtitulo }}</h3>
          <ul>
            <li *ngFor="let item of propaganda01.lista" class="listas_flex">
              <i class="material-icons">navigate_next</i>
              {{ item }}
            </li>
          </ul>
        </article>
        <button class="btn btn-info">{{ propaganda01.btnTxt }}</button>
      </div>
      <br/>
    </article>

    <article class="propagandas">
      <section>
        <img
          src="{{ propaganda02.imagem }}"
          alt="{{ propaganda02.titulo }}"
          width="90%"
        />
        <h3 class="titulo-prop">{{ propaganda02.titulo }}</h3>
        <p class="subtitulo-prop">{{ propaganda02.descricao }}</p>
        <article>
          <h3 class="titulo-prop">{{ propaganda02.subtitulo }}</h3>
          <ul>
            <li *ngFor="let item of propaganda02.lista" class="listas_flex">
              <i class="material-icons">navigate_next</i>
              {{ item }}
            </li>
          </ul>
        </article>
        <button class="btn btn-info">{{ propaganda02.btnTxt }}</button>
      </section>

    </article>
  </section>
</section>
